<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>mis datos 1</td>
        <td>mis datos 2</td>
        <td>mis datos 3</td>
        <td>mis datos 4</td>
    </tr>
    <tr>
        <td>{{ data.nombre }}</td>
        <td>{{ data.apellido }}</td>
        <td>{{ data.celular }}</td>
        <td>{{ data.edad }}</td>

    </tr>
</table>
</body>
</html>